<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plus.io Frontend</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="starter-template" style="padding:40px 15px;text-align:center;">
    <h1>Home Page</h1>
      <p class="lead">Congratulations! you created a view! now customize this one or create one from scratch! and don't forget <a href="http://plus.io/+docs/" target="_blank">our docs</a> if you need any help.</p>
  </div>
</div>