<div class="{{ $page.class }}-page">
  <div class="starter-template">
  	<div class="container">
	    <h1 go="/no-view">{{ $app.name }}</h1>
	      <p class="lead">You're one your way to creating a fully custom chrome or mobile app! This '{{ $app.theme.name }}' Theme will help getting you started using Angular within Plus.io.</p>
	  </div>
  </div>

  <div class="container" ng-init="path = 'includes/partial'">
  	<h3>Docs and Tutorials coming soon! <small>I promise</small></h3>
  	<h4>And better theme, many things on the todo list!</h4>
  </div>
</div>