<div class="{{ $page.class }}-page">
  <div class="starter-template">
  	<div class="container" ng-init="link = '/items/wwerte'">
	    <h1 go="{{ link }}">{{ $app.name }}</h1>
	      <p class="lead">You're one your way to creating a fully custom chrome or mobile app! This '{{ $app.theme.name }}' Theme will help getting you started using Angular within Plus.io.</p>
	  </div>
  </div>

  <div class="container" ng-init="path = 'includes/partial'">
  	<plus-view src="path"></plus-view>
  </div>
</div>