html, body{
	height: 100%;
	background: #444;
}

.mb-page{
	padding-top: 40px;
}

.mb-modal{
	z-index:2000;
}

#wrapper{
	position: absolute;
	color: #333;
	background: #444;
	top: 51px; /* height of header */
	bottom: 50px; /* height of footer ( x 2?)*/
	left: 0;
	right: 0;
}

#wrapper.mb-modal{
}

header .navbar-inner{
	background: #333;
	height: 60px;
	border: none;
}

header .navbar-inner .brand{
	position: relative;
	top: 14px;
	text-shadow: none;
	font-family: "RobotoThin";
	color: #ccc;
	font-size: 18px;
	display: block;
	float: none;
	text-align: center;
	margin-left: 0;
}

header .navbar-inner .nav{
	position: absolute;
	top: 5px;
	right: 20px;
	left: auto;
}

.about {
	position: absolute;
	background: transparent;
	width: 80px;
	text-align: right;
	top: 5px;
	right: -25px;
	color: #999;
	font-family: arial;
	border: none;
	box-shadow: none;
	opacity: .1;
	z-index: 10;
}

.about img {
	width: 25px !important;
	height: 25px;
}

#scroll-area{
	height: 100%;
}

.scroller{
	height: auto;
	min-height: 100%;
}

.iscroll-pages .scroller{
	height: 100%;
	font: 18px/27px 'RobotoThin', Arial, sans-serif;
	
}

.iscroll-pages ul{
	width: 300%;
	height: 100%;
	margin: 0;
}

.iscroll-pages li{
	position: relative;
	float: left;
	display: block;
	height: 100%;

	/* We'll do some magic in the view to set the with of the li to the width of the window instead of 300% the width of it
	 * so that the li's will line up in a neat row, with one on the page at a time. */
}

.iscroll-page{
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}

.iscroll-page > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.iscroll-page .ico-gesture{
	margin-top: 25px;
}

.nav-stacked .form{
	padding: 10px 5px;
}

.nav-stacked .form-search{
	margin-bottom: 0;
}

.leaflet-container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #1c1c1c;
}

.nav-tabs.nav-stacked > li.item{
}

footer .navbar-inner{
	background: #eee;
	height: 70px;
	background: #333;
	border: none;
}

footer.navbar .nav{
	width: 100%;
	height: 100%;
	display: table;
	margin: 0;
}

footer.navbar .nav li {
	display: table-cell;
	height: 100%;
	float: none;
	height: 70px;
	text-align: center;
	list-style-type: none;

}

footer.navbar .nav li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	padding: 0;
	margin: 0;
	background-size:25px 25px;
	background-repeat:no-repeat;
	background-position: center;
	opacity: .3;
}

footer.navbar .nav li:hover {
 background-color: #333;
}

footer .navbar-inner .nav li.active a{
	cursor: pointer;
	opacity: 1;
	background-color: #333;
	box-shadow: none;
}

footer .navbar-inner .nav li.home a{ background-image: url('../img/ico_home.png'); }
footer .navbar-inner .nav li.list a{ background-image: url('../img/ico_list.png'); }
footer .navbar-inner .nav li.globe a{ background-image: url('../img/ico_globe.png'); }
footer .navbar-inner .nav li.settings a{ background-image: url('../img/ico_settings.png'); }