<div id="scroll-area" class="iscroll-pages" scrollable parameters="{{ {
	snap: '.iscroll-page',
	momentum: false,
	vScroll: false,
	hScroll: true,
	hScrollbar: false,
	vScrollbar: false,
	bounce: true
} }}" curr-page-x="x" curr-page-y="y">
	<ul plus-resize>
		<li style="width: {{ window.width }}px">
			<div id="page-one" class="iscroll-page">
				<div>
					<h1>
						{{time | date:'shortTime'| lowercase}}<br />
						<small>"{{ app.name || 'Plus.io Frontend' }}"</small>
					</h1>

					<img class="ico-gesture" ng-src="{{ app.paths.theme('img/touch-icons/one-finger-drag-left.png') }}" width="100px" height="59px" />
				</div>
			</div>
		</li>
		<li style="width: {{ window.width }}px">
			<div id="page-two" class="iscroll-page">
				<div>
					<h1>
						{{time | date:'EEEE'}}<br />
						<small>"{{ app.theme.title }}"</small>
					</h1>
					<img class="ico-gesture" ng-src="{{ app.paths.theme('img/touch-icons/one-finger-drag-both.png') }}" width="100px" height="59px" />
				</div>
			</div>
		</li>
		<li style="width: {{ window.width }}px">
			<div id="page-three" class="iscroll-page">
				<div>
					<h1>
						{{time | date:'MMM d'}}<br />
						<small>"Developed by: {{ app.theme.author }}"</small>
					</h1>
					<img class="ico-gesture" ng-src="{{ app.paths.theme('img/touch-icons/one-finger-drag-right.png') }}" width="100px" height="59px" />
				</div>
			</div>
		</li>
	</ul>
</div>