<div id="scroll-area" scrollable parameters="{{ {
	hideScrollbar: true,
	fadeScrollbar: true,
	snap: 'li'
} }}" curr-page-x="scroller.x" curr-page-y="scroller.y">
	<!-- 
		Let's create a search field for the data that we have.
		ng-model="search" assigns the variable 'search' to the value of the search field.
		Further down we'll use that value to filter down the list.
	 -->
	

	<!-- 
		putting ng-show="" on any element will show that element when the variables value is truthy,
		and hide the element if the value is falsey
		http://docs.angularjs.org/api/ng.directive:ngShow
	 -->
	<ul id="geo-data" class="nav nav-tabs nav-stacked" ng-show="collectionData">
		<li class="form">
			<form class="form-search">
				<input type="text" ng-model="search" class="input-block-level search-query" placeholder="Search">
			</form>
		</li>

		<li>
			<button class="btn btn-large" hm-tap="$navigate.go('/item/new')">Create New</button>
		</li>

		<!-- 
			ng-repeat is like a for each loop, and will repeat the content in between the tag and the closing tag, including the tag itself.
			http://docs.angularjs.org/api/ng.directive:ngRepeat
	 	-->
		<li ng-repeat="item in collectionData | filter:search" class="item" hm-tap="$navigate.go('/item/{{ item.id }}')">
			<a><span ng-repeat="key in structure">{{ item[key] }}<span ng-hide="$last"> | </span></span></a>
		</li>
	</ul>

	<!--
		Here the value of the ng-show is an expression filtering an array by the value of the search field.
		We filter the array, and then check it's length. if there are no items in the array that means that
		there we no items that matched the filter, so we will show a notification that indicates that there
		 were no search results matched.
	-->
	<div ng-show="(collectionData | filter:search).length==0">
		There are no results for given query
		<!-- No search results image goes here -->
	</div>

	<!-- 
		ng-hide is the opposite of of ng-show where it will hide the element if the value is truthy and show if it is falsey.

		In this instance we are going to show that no data was retrieved from the server if collectionData is empty but if the app Id is not set
		we'll continue to hide this div and show another div with specific information about the app Id.
	 -->
	<div ng-hide="collectionData">
		No Data loaded :(
		<!-- No data found image goes here -->
		<div ng-hide="app.id">
			There is no app id set
			<!--
				No app id image goes here,
				perhaps provide instruction to get app id, and set it.
			 -->
		</div>
	</div>



<script>
	$('#cordova').on('click', function(){
		var ref = window.open('http://google.com', '_blank', 'location=no');
		ref.addEventListener('loadstart', function(event) { alert(event.type + ' - ' + event.url); } );
		ref.addEventListener('loadstop', function(event) { alert(event.type + ' - ' + event.url); } );
		ref.addEventListener('loaderror', function(event) { alert(event.type + ' - ' + event.url + ' - ' + event.code + ' - ' + event.message); } );
		ref.addEventListener('exit', function(event) { alert(event.type); } );
		return false;
	});

	$('#inapp').on('click', function(){
		var ref = window.open('http://google.com', '_blank');
		ref.addEventListener('loadstart', function(event) { alert(event.type + ' - ' + event.url); } );
		ref.addEventListener('loadstop', function(event) { alert(event.type + ' - ' + event.url); } );
		ref.addEventListener('loaderror', function(event) { alert(event.type + ' - ' + event.url + ' - ' + event.code + ' - ' + event.message); } );
		ref.addEventListener('exit', function(event) { alert(event.type); } );
		return false;
	});
</script>
	<a href="" id="cordova">In App Browser (no Location bar)</a>
	<a href="" id="inapp">In App Browser</a>
	<a href="" onclick="window.plugins.childBrowser.showWebPage('http://google.com');">ChildBrowser</a>









</div>