<!--
	adding the scrollable directive enables momentum scroll on this element, that make it appear more native, the parameter attribute is to pass options to this plugin, but it is picky and needs at least an object passed in, so here we pass it an empty object.
-->
<div id="scroll-area" scrollable parameters="{{ {} }}">

	<ng-include src="app.paths.element('plus.ui')"></ng-include>

	<!-- 
		This element will pull data from the collection you specify. You can also provide a limit and offset and use this to achieve easy pagination. You can provide strings or make it more dynamic by providing a model inside of {{ }}
	-->
	<plus-data collection="newfood" offset="0" limit="10">
		<form class="form-search">
			<!-- 
				Let's create a search field for the data that we have. ng-model="search" assigns the variable 'search' to the value of the search field. Further down we'll use that value to filter down the list.
			 -->
			<input type="text" ng-model="search" class="input-block-level search-query" placeholder="Search">
		</form>

		<!--
			<ng-include> includes an html file into the view, here we are using the app.paths.element() function which returns the path to the desired element file
		-->
		<ng-include src="app.paths.element('loop')"></ng-include>

		<!-- 
			putting ng-show="" on any element will show that element when the variables value is truthy, and hide the element if the value is falsey http://docs.angularjs.org/api/ng.directive:ngShow

			Here the value of the ng-show is an expression filtering an array by the value of the search field. We filter the array, and then check it's length. if there are no items in the array that means that there were no items that matched the filter, so we will show a notification that indicates that there were no search results matched.
		-->
		<div ng-show="(collection.data | filter:search).length==0">
			There are no results for given query
			<!-- No search results image goes here -->
		</div>

		<!-- 
			ng-hide is the opposite of of ng-show where it will hide the element if the value is truthy and show if it is falsey.

			In this instance we are going to show that no data was retrieved from the server if collection is empty but if the app Id is not set we'll continue to hide this div and show another div with specific information about the app Id.
		 -->
		<div ng-hide="collection.data">
			No Data loaded :(
			<!-- No data found image goes here -->
		</div>
	</plus-data>
</div>